.subscriptionDetailBody {
  margin: 0 auto;
  position: relative;
  top: 120px;
  width: 90%;
}

.subscriptionDetailBody .firstBox{
  box-shadow: 4px 12px 40px 6px rgba(43,59,93,.08);
  transition-timing-function: ease-out;
  transition-duration: .15s;
  background: #fff!important;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  margin-bottom: 30px;
}

.firstBox .display-flex img {
  height: 70px;
}


.firstBox .display-flex a {
  display: inline-block;
  background: #291b44;
  border-radius: 50%;
  margin-top: 18px;
  width: 30px;
  height: 30px;
  font-weight: 700;
  margin-left: 10px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.spaceBetween {
  justify-content: space-between;
  display: flex;
}

.boxContainer {
  display: flex;
  margin-bottom: 30px;

}

.subscriptionDetailBody .boxContainer .box{
  text-align: center;
  box-shadow: 4px 12px 40px 6px rgba(43,59,93,.08);
  transition-timing-function: ease-out;
  transition-duration: .15s;
  background: #fff!important;
  border-radius: 20px;
  font-weight: 700;
  padding: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bloc-grey {
  box-shadow: 0 4px 50px rgba(43, 59, 93, 0.1);
  transition-timing-function: ease-out;
  transition-duration: 0.15s;
  background: #291b44;
  border-radius: 20px;
  margin-top: 30px;
}
.bloc-spliiit {
  padding: 0 30px 30px;
  margin-bottom: 30px;
}
* {
  outline: none;
}
.center-spliiiter {
  margin: 0 auto;
  display: flex;
}
.list-spliiiter {
  display: flex;
  margin: 0 auto 20px;
  white-space: nowrap;
  padding-bottom: 20px;
  padding-top: 40px;
}
.list-spliiiter li:first-child {
  margin-left: 0;
}
.list-spliiiter li {
  margin-left: 25px;
  text-align: center;
}
.list-spliiiter .me {
  cursor: default;
}
.me {
  position: relative;
}
.spliiiter-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.list-spliiiter p {
  margin: 15px 0 0;
  font-weight: 700;
  color: #fff;
}
.blue {
  color: #00cdd0;
}
.free-slot {
  cursor: pointer !important;
}
.free-slot .spliiiter-img,
.reserved-slot .spliiiter-img {
  box-shadow: none !important;
  background-image: url(./free-slot.png);
  background-size: 40px;
  background-repeat: no-repeat;
}
.free-slot .spliiiter-img {
  background-color: #00cdd0;
}
.spliiiter-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.line-options {
  display: flex;
}
.center-add-btn {
  display: flex;
  margin: 0 auto;
}
.line-options .btn-detail-offer {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}
.btn-add-offer,
.btn-detail-offer,
.btn-logout {
  border-radius: 100px;
  padding: 12px 30px 14px;
  border: 2px solid #00cdd0;
  font-size: 16px;
}
.btn-add-offer,
.btn-detail-offer,
.btn-logout,
.btn-signal {
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
  font-weight: 700;
  text-align: center;
  display: block;
}
.btn-messagerie svg {
  height: 20px;
  vertical-align: -5px;
  margin-right: 5px;
  margin-left: 0;
}
.btn-detail-offer svg {
  height: 14px;
  fill: #fff;
  margin-left: 10px;
  vertical-align: -2px;
  opacity: 0.5;
}
.line-options .btn-detail-offer {
  color: #fff;
  margin: 0 10px;
}
.btn-add-offer,
.btn-detail-offer,
.btn-logout {
  border-radius: 100px;
  padding: 12px 30px 14px;
  border: 2px solid #00cdd0;
  font-size: 16px;
}
.btn-add-offer,
.btn-detail-offer,
.btn-logout,
.btn-signal {
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
  font-weight: 700;
  text-align: center;
  display: block;
}
.add-spliiiter,
.text-add {
  font-weight: 700;
}
.add-spliiiter {
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
  cursor: pointer;
  background-color: #fb3c67;
  border-radius: 50px;
  color: #fff;
  padding: 12px 30px;
  margin: 0 10px;
  display: inline-block;
}
.add-spliiiter span {
  margin-right: 5px;
  font-size: 22px;
  vertical-align: -3px;
  font-weight: 400;
}
.add-spliiiter,
.text-add {
  font-weight: 700;
}
.spliiiter-img:hover {
  transform: scale(1.2);
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
}


.firstBox .deleteButton{
  border-radius: 50px;
  border: 2px solid #a8b4c0;
  padding: 13px 25px 15px;
  transition-timing-function: ease-out;
  transition-duration: .1s;
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: #2a2f45;
  margin-left: auto;

}


.firstBox .tab {
  border-radius: 20px 20px 0 0;
  font-size: 20px;
  padding: 0 50px;
  line-height: 90px;
  height: 110px;
  box-sizing: border-box;
  display: block;
  transition-duration: .2s;
  font-weight: 700;
  cursor: pointer;
}

.firstBox .tab:hover {
  border-radius: 20px 20px 0 0;
  font-size: 20px;
  padding: 0 50px;
  line-height: 90px;
  height: 110px;
  box-sizing: border-box;
  display: block;
  transition-duration: .2s;
  font-weight: 700;
  cursor: pointer;
  color: #00cdd0 !important;
}

.c-active {
  color: #00cdd0 !important;
}

.firstBoxTabH3{
  font-size: 20px;
  margin: 0 0 30px;
  line-height: 40px;
  color: #291b44;
}

.calanderContainer {
  display: flex;
}

.calanderContainer .arrow{
  width: 40px;
  height: 40px;
  background: #291b44;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.fa-chevron-right {
  opacity: 1;
  height: 1rem !important;
  position: absolute;
  right: 10px;
  fill: #291b44;
  margin-top: -6px;
  top: 50%;
}

.calanderVal{
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  color: #291b44;
}


.firstBoxInputContainer {
  padding: 30px;
  background: #1e1435;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.firstBoxInputLogo {
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 4px 12px 40px 6px rgba(43,59,93,.08);
  transition-timing-function: ease-out;
  transition-duration: .15s;
  background: #fff!important;
  margin-right: 30px;
}

.formInputContainer{
  margin-right: 30px;
}

.formInputLabel {
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}

.formInput {
  border-radius: 10px;
  border: none;
  height: 35px;
}


.goCircle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: turquoise;
  margin-left: auto;
}