.to-transform {
  transform: rotate(180deg);
  fill: #fff !important;
  margin-left: 28px;
  width: 110px;
}

.signup-component {
  box-shadow: inset 0 0 5px 2px #ffffff;
  background-image: url("../images/letsee.jpg");
  background-size: cover;
  padding: 40px;
  background-repeat: no-repeat;
}

.nav-btn {
  float: right;
  font-size: 16px;
  line-height: 48px;
  height: 50px;
  margin-top: 20px;
  padding: 0 30px;
  border-radius: 100px;
  font-weight: 700;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
  border: none;
  color: white;
}

.head {
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.choice-suscribe span {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
  display: inline-block;
}

@media screen and (min-width: 600px) and (max-width: 760px) {
  .main-logo {
    width: 13%;

    margin-top: 28px;
  }
}

@media screen and (min-width: 420px) and (max-width: 599px) {
  .main-logo {
    width: 17%;
    margin-left: -26px;
    margin-top: 28px;
  }
  .signup-component {
    margin-top: 95px !important;
  }
  .head {
    margin-top: 1px;
    padding: 35px;
  }
}

@media screen and (max-width: 360px) {
  .main-logo {
    margin-top: 30px;
    width: 30%;
    margin-left: -17px;
  }

  .signup-component {
    margin-top: 95px !important;
  }
}

.custom-switch {
  padding-left: 2.25rem;
}
.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
li {
  list-style: none;
}
.hide {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
