.list-spliiit-dash .bloc-white {
  border-radius: 20px;
}
.bloc-abo-dash {
  width: 100%;
  position: relative;
}
.bloc-white {
  text-align: center;
  box-shadow: 4px 12px 40px 6px rgba(43, 59, 93, 0.08);
  transition-timing-function: ease-out;
  transition-duration: 0.15s;
  background: #fff !important;
  border-radius: 20px;
}
.relative {
  position: relative;
}
* {
  outline: none;
}
.part1-bloc {
  padding: 30px 30px 40px;
}
.flex {
  display: flex;
}
.line-service-dash img {
  height: 90px;
}
.tarif-bloc-dash {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}
.tarif-bloc-dash span {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.5;
}
.title-bloc-dash {
  border-top: 1px solid #edf1f4;
  padding: 15px 60px 15px 0;
  font-weight: 400;
  text-align: left;
  position: relative;
  margin: auto 0 auto 0;
  font-size: 14px;
  height: 20px;
}
.statut-info {
  position: absolute;
  right: 0;
  font-weight: 700;
  top: 0;
  margin: 14px 0;
}
.d-none,
.dnone {
  display: none !important;
}
.rose {
  color: #fb3c67;
}
.statut-info .goto-public {
  opacity: 0.5;
  cursor: pointer;
  font-weight: 400;
}
.d-none,
.dnone {
  display: none !important;
}
.round-block {
  margin-top: -20px;
  z-index: 1;
}
* {
  outline: none;
}
.big-round {
  height: 40px;
  bottom: -20px;
}
.round-white-svg {
  width: 100%;
  border-radius: 50%;
  left: 0;
  position: absolute;
  background: #fff;
}
.part2-bloc {
  padding: 40px 30px 30px;
  border-radius: 0 0 20px 20px;
  position: relative;
  background: #291b44;
  height: 220px;
}
.spliiiter-card-dash {
  margin-left: 15px;
}
.flex {
  display: flex;
}
.part2-bloc .spliiiter-card-dash .subscriber {
  position: relative;
}
.part2-bloc .spliiiter-card-dash .subscriber a {
  margin-left: -20px !important;
}
.spliiiter-card-dash a:first-child {
  margin-left: 0;
}
.spliiiter-card-dash .btn-modal-infos {
  cursor: default;
}
.spliiiter-card-dash a {
  border: 5px solid #291b44;
  float: left;
  margin-left: -20px;
}
.border-owner-dash {
  border-color: #4e4660 !important;
}
.btn-modal-infos,
.btn-modal-infos:hover {
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
}
.btn-modal-infos {
  position: relative;
  padding: 0;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: 50%;
}
.btn-modal-infos,
.btn-profil {
  border-radius: 100px;
  cursor: pointer;
  background: #fff;
}
.part2-bloc .spliiiter-card-dash .subscriber .subscriber-name {
  display: none;
  margin: 0;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 110px;
  font-weight: 700;
  background-color: #fff;
  position: absolute;
  top: 70px;
  right: 50%;
  transform: translateX(42%);
  z-index: 4;
  box-shadow: 0 4px 50px rgba(43, 59, 93, 0.15);
}
.seat-place {
  display: block;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
}
.spliiiter-card-dash .add-spliiiter-card {
  cursor: pointer !important;
}
.spliiiter-card-dash .btn-modal-infos {
  cursor: default;
}
.spliiiter-card-dash a {
  border: 5px solid #291b44;
  float: left;
  margin-left: -20px;
}
.add-spliiiter-card,
.spliiiter-card-dash a:hover {
  color: #fff;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
}
.add-spliiiter-card {
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  background: #fb3c67;
}
.btn-modal-infos,
.btn-modal-infos:hover {
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
}
.add-spliiiter-card .share-spliiiter {
  width: 100%;
}
.spliiiter-card-dash .add-spliiiter-card {
  cursor: pointer !important;
}
.spliiiter-card-dash .btn-modal-infos {
  cursor: default;
}
.add-spliiiter-card,
.spliiiter-card-dash a:hover {
  color: #fff;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
}
.blue {
  color: #00cdd0;
}
.nb-spliiiter-dash {
  position: absolute;
  font-size: 32px;
  font-weight: 700;
  right: 0;
  padding-right: 30px;
  padding-left: 40px;
  color: #fff;
  line-height: 20px;
  padding-top: 12px;
  height: 50px;
  background: linear-gradient(90deg, rgba(41, 27, 68, 0), #291b44 20%);
}
.info-nb-spliiiter {
  font-weight: 400;
  font-size: 14px;
}
.btn-detail-offerr svg {
  height: 14px;
  fill: #fff;
  margin-left: 10px;
  vertical-align: -2px;
  opacity: 0.5;
}
.btn-detail-offerr {
  padding: 7px;
  width: 207px;
  color: #fff;
  margin: 25px auto 0;
  display: inline-block;
  background-color: #00cdd0;
  height: 42px;
  border-radius: 20px;
}
